<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>[SUBJECT]</title>
    <style type="text/css">
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: lighter;
      }
      body {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin:0 !important;
        width: 100% !important;
        -webkit-text-size-adjust: 100% !important;
        -ms-text-size-adjust: 100% !important;
        -webkit-font-smoothing: antialiased !important;
      }
      .tableContent img {
        border: 0 !important;
        display: block !important;
        outline: none !important;
      }
      a{
        color:#382F2E;
      }

      p, h1{
        color:#382F2E;
        margin:0;
      }
      p{
        text-align:left;
        color:#999999;
        font-size:14px;
        font-weight:normal;
        line-height:19px;
      }

      a.link1{
        color:#382F2E;
      }
      a.link2{
        font-size:16px;
        text-decoration:none;
        color:#ffffff;
      }

      h2{
        text-align:left;
        color:#222222; 
        font-size:19px;
        font-weight:normal;
      }
      div,p,ul,h1{
        margin:0;
      }

      .bgBody{
        background: #ffffff;
      }
      .bgItem{
        background: #ffffff;
      }

    </style>
    <script type="colorScheme" class="swatch active">
      {
        "name":"Default",
        "bgBody":"ffffff",
        "link":"382F2E",
        "color":"999999",
        "bgItem":"ffffff",
        "title":"222222"
      }
    </script>
  </head>
  <body paddingwidth="0" paddingheight="0"   style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family:Helvetica, Arial,serif;'>

      
      <tr><td height='35'></td></tr>

      <tr>
        <td>
          <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class='bgItem'>
            <tr>
              <td width='600'>
                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">

<!-- =============================== Header ====================================== -->           
                  

                  <tr><td height='75'></td></tr>
<!-- =============================== Body ====================================== -->

                  <tr>


                    <td class='movableContentContainer' valign='top'>

                      <div class='movableContent'>
                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td valign='top' align='center'>
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable">
                                  <p style='line-height:1.0;font-size:30px;color:#000000;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:500;'><%=@meeting.title%></p>
                                  <p style='margin-bottom:10px;'><%= @meeting.description %></p>
                                  <p><%= @meeting.users.pluck(:email).join(", ")%></p>
                                  <p><%= @meeting.started_at.in_time_zone("Pacific Time (US & Canada)").strftime('%B %e %Y @ %l:%M %p')%></p>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr><td height='40'></td></tr>
                        </table>
                      </div>

                      <div class='movableContent'>
                      	<p style='line-height:1.0;font-size:30px;color:#000000;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:500;'>Action Items:</p>
                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td align='left'>
                              <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" align='center'>
                                  <ul style="text-align:left; white-space:pre-line;">
                                  <% @meeting.agenda_notes.where(:note_type=>AgendaNote::ACTION_ITEM).each do |note| %>
									<li><%= note.due_date ? note.due_date.in_time_zone("Pacific Time (US & Canada)").strftime('%B %e, %Y') : ''%> (<b><%=note.users.pluck(:email).join(", ")%></b>) - <%=note.body%></li>
                                  <% end %>
                                  </ul>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr><td height='30'></td></tr>
                        </table>
                      </div>

                      <div class='movableContent'>
                      	<p style='line-height:1.0;font-size:30px;color:#000000;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:500;'>Minutes:</p>
                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td style="padding:12px 5px;border-bottom:2px solid #000000;"><b>Item</b></td>
                            <td style="padding:12px 5px;border-bottom:2px solid #000000;"><b></b></td>
                            <td style="padding:12px 5px;border-bottom:2px solid #000000;"><b>Note</b></td>
                          </tr>
<!--                           <% @meeting.agenda_items.each do |item| %>
                          <tr style="border-top:2px solid #dddddd;">
                            <td style="padding:12px 5px;border-bottom:2px solid #f0f0f0;" valign="top"><b><%=item.title %></b></td>
                            <td style="padding:12px 5px;border-bottom:2px solid #f0f0f0;" valign="top">
                              <% item.agenda_notes.each do |note| %>
                              (<%=AgendaNote::NOTE_MAP[note.note_type]%>)
                              <br>
                              <br>
                              <% end %>
                            </td>
                            <td style="padding:12px 5px;border-bottom:2px solid #f0f0f0;">
                              <% item.agenda_notes.each do |note| %>
                              (<%=AgendaNote::NOTE_MAP[note.note_type]%>) <%=note.names%> - <%=note.body%>
                              <br>
                              <br>
                              <% end %>
                            </td>
                          </tr>
                          <% end %> -->
                          <% @meeting.agenda_items.each do |item| %>
                          <tr>
                            <td rowspan="<%= item.agenda_notes.count + 1 %>" valign="top" style="padding:12px 5px;border-bottom:2px solid #f0f0f0;"><b><%=item.title %></b></td>
                          </tr>
                          <% item.agenda_notes.each do |note| %>
                          <tr>
                            <% if item.agenda_notes.last == note %>
                            <td valign="top" align="right" style="padding:12px 5px;color:#999999;border-bottom:2px solid #f0f0f0;"><%=AgendaNote::NOTE_MAP[note.note_type]%></td>
                            <td valign="top" style="padding:12px 5px;border-bottom:2px solid #f0f0f0;"><%=note.body%></td>
                            <% else %>
                            <td valign="top" align="right" style="padding:12px 5px;color:#999999;"><%=AgendaNote::NOTE_MAP[note.note_type]%></td>
                            <td valign="top" style="padding:12px 5px;"><%=note.body%></td>
                            <% end %>
                          </tr>
                          <% end %>
                          <% end %>
                        </table>
                      </div>

                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr><td height='88'></td></tr>

    </table>
  </body>
</html>


